{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
実験の説明
{% endblock %}

{% block content %}

<div class="card">
    <div class="card-body">
        <h4>実験の概要</h4>
        <p>本日の実験は2つのパートで構成されています。</p>
        <ul>
            <li>第1パートでは、タスクを解くことでポイントを獲得します。</li>
            <li>第2パートについての詳細は、第1パートの終了後にお知らせします。</li>
        </ul>

        <h4>第1パートの説明</h4>
        <ul>
            <li>4つのタスクを実行していただきます。</li>
            <li>各タスクでは、0と1で構成された数字の並びの中から、特定のパターンを見つけ出していただきます。</li>
            <li>各タスクを正しく完了すると300ポイントを獲得でき、全タスクで合計1200ポイントを獲得できます。</li>
            <li>獲得したポイントは第2パートで使用します。</li>
        </ul>
    </div>
</div>

{% next_button %}

{% endblock %} 